<!DOCTYPE html>
<html>
    <head>
        <title>nh-fcc-stkchrt - Stock Price Charting</title>
        <script src="/lib/react.js"></script>
        <script src="/lib/react-dom.js"></script>
        <script src="/lib/jquery.min.js"></script>
        <link rel="stylesheet" href="/styles/main.css" />
    </head>
    <body>
        {{{body}}}
    </body>
</html>