.header {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.app-body {
    display: flex;
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.add-ticker {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticker {
    flex: 1;
    display: flex;
    position: relative;
    max-width: 100px;
}

.tickers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#container {
    height: 400px;
    min-width: 310px;
}